
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@700&family=Josefin+Sans&family=Montserrat&display=swap');
.App {
  text-align: center;
}
.col-sm-6{
  margin: 3% 0;
}
.oneCard {
  height: 100%;
}

.home{
  margin-top: 36px;
  margin-left: 1%;
}
.blog{
  margin-top: 2em;
}
.cardButtons{
display: flex;
justify-content: center;
}

.homeMainText{
  font-weight: unset;
  margin-bottom: 30px;
  font-weight: 800;
  color: purple;
}
.homeAllText{
  text-align: start;
  font-family: 'Abel', sans-serif;
  margin-bottom: 10%;
  /* margin-left: 25%; */
}
.changingContent:before{
  content:'';
  animation: animate infinite 10s;
}
.changingContent{
  color: #f55a45;
  /* color:#FFC300; */
  /* background-color: black; */

}
@keyframes animate{
  0%{
    content: 'front-end developer';
  }
  30%{
    content: 'digital marketer ';
  }
  70%{
    content: 'salesman';
  }
  100%{
    content: ' skilled manager';
  }
}
.projectPhoto{
  margin-top: 5%;
}
.projectsH3{
  font-family: 'Abel', sans-serif;
  font-weight: unset;
  color: purple;
  margin-top: 35px;

}
.container{
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  /* background-image: url(./images/test4.svg); */

}

.contactCard{
display:flex;
justify-content: center;
width: 100%;
margin-top: 30px;

}
.masthead{
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.column{
  margin-top: 10%;
}
.aboutRow{
  margin: 3em 0;
}